{% extends 'chat/layout.html' %}

{% block title %}Chat | {{ group_name }}{% endblock %}

{% block body %}

<section>

    <div class="row">
        <div class="col-12 d-flex justify-content-center">

            <!-- Card box-->
            <div class="card bg-dark text-white" style="border-radius: 15px; width: 800px">

                <!-- Card Header -->
                <div class="card-header d-flex justify-content-center">
                    <h1>{{ group_name }}</h1>
                </div>

                <!-- Card body -->
                <div class="card-body" id="chat_messages">

                    {% for message in chat_messages reversed %}
                        <!-- Message on left side if from user -->
                        {% if message.author == user %}
                        <div class="d-flex justify-content-end my-2">
                            <div class="bg-light text-dark pt-3 px-2" style="border-radius: 15px; max-width: fit-content;">
                                <p>{{ message.body }}</p>
                            </div>
                        </div>

                        <!-- Message on right side if not from user -->
                        {% else %}
                        <div class="d-flex justify-content-start my-2">
                            <div class="bg-light text-dark pt-3 px-2" style="border-radius: 15px; max-width: fit-content;">
                                <h5>{{ message.author }}</h5>
                                <p>{{ message.body }}</p>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}

                    <!-- Message box -->
                    <form hx-post="{% url 'example'}" hx-target="#chat_messages" hx-swap="beforeend">
                        {% csrf_token %}
                        {{ form }}
                    </form>

                </div>
            </div>

        </div>
    </div>

</section>

{% endblock %}